################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Proyecto_Final/.vs/Proyecto_Final/FileContentIndex/0b1c8c92-6eeb-432a-860e-64ee62e05c59.vsidx
/Proyecto_Final/.vs/Proyecto_Final/FileContentIndex/70447234-c30b-4a86-98da-002c1bd9ab4f.vsidx
/Proyecto_Final/.vs/Proyecto_Final/FileContentIndex/727aac7f-ef2f-4383-963c-20ff54f4ea48.vsidx
/Proyecto_Final/.vs/Proyecto_Final/FileContentIndex/eefecd65-5a2c-457a-8e99-d495bde1de31.vsidx
/Proyecto_Final/.vs/Proyecto_Final/FileContentIndex/b15eb0ff-bd77-43c3-b256-25e3b68072a2.vsidx
/Proyecto_Final/.vs/Proyecto_Final/FileContentIndex/f1c79202-6e8d-472f-900a-2c89c0d69104.vsidx
/Desafios_Comision50285/Usuario.cs
